<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>SteakShop Restaurant</title>

    <link rel="stylesheet" href="../../../../assets/restaurant/css/style.css">
</head>

<body>

    <!--================ Start Header Menu Area =================-->
    <div class="menu-trigger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!--================ End Header Menu Area =================-->

    <div class="site-main" style="padding-top: 10px;">

        <section class="bg-light page-section" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Menu</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item" *ngFor="let item of restauranItem">
                        <div (click)="sendItemId(item.itemId)">
                            <a class="portfolio-link" data-toggle="modal" (click)="setProduct(item)"
                                data-id="{{item.itemPrice}}" data-name="{{item.itemName}}" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">

                                    </div>
                                </div>
                                <img class="img-fluid" *ngIf="item.itemImage!=null"
                                    src="https://kalingaprojectsdotnet.blob.core.windows.net/book-your-meal/{{item.itemImage}}"
                                    alt="Image Failed to load">
                                <img class="img-fluid" *ngIf="item.itemImage==null"
                                    src="https://kalingaprojectsdotnet.blob.core.windows.net/book-your-meal-static/carousalimag2.jpg"
                                    alt="Image Failed to load">
                            </a>
                        </div>
                        <div class="portfolio-caption">
                            <h4>{{item?.itemName}}</h4>
                            <span>Price</span>
                            <h4>{{item?.itemPrice}}</h4>
                            <p class="text-muted"></p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio Modals -->

        <!-- Modal 1 -->
        <div class="modal fade" id="portfolioModal1" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Update Item Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">

                            <div class="card-body card-block">

                                <div class="container">
                                    <!-- <div class="row"> -->
                                    <div>

                                        <div class="card" style="padding: 50px;background:black">

                                            <form class="mt-3" [formGroup]="registerForm"
                                                (ngSubmit)="EditItem(itemtype,itemcategory)">
                                                <div class="form-group">
                                                    <label for="RestaurantOwnerName" style="color:whitesmoke">
                                                        <strong>Item Name</strong>
                                                    </label>
                                                    <input type="text" formControlName="restaurantName" id=""
                                                        class="form-control" placeholder="Enter Item Name"
                                                        [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.restaurantName.errors }"
                                                        value="{{editProduct?.itemName}}" />
                                                    <div *ngIf="submitted &amp;&amp; registerForm.controls.restaurantName.errors"
                                                        class="text-danger">
                                                        <div
                                                            *ngIf="registerForm.controls.restaurantName.errors.required">
                                                            Item Name is required</div>
                                                        <div
                                                            *ngIf="registerForm.controls.restaurantName.errors.pattern">
                                                            Item Name should be in correct format</div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="userMobile" style="color:whitesmoke">
                                                        <strong>Item type</strong>
                                                    </label>
                                                    <select formControlName="itemType" class="form-control" #itemtype>
                                                        <option *ngFor="let item of itemtypedata"
                                                            value="{{editProduct.itemType}}">{{item.itemTypeName}}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="Address" style="color:whitesmoke">
                                                        <strong> Item Category</strong>
                                                    </label>
                                                    <select formControlName="itemCategory" class="form-control"
                                                        #itemcategory value="{{editProduct?.itemCategory}}">
                                                        <option *ngFor="let item of itemcategorydata"
                                                            value="{{item?.itemCategoryId}}">{{item.itemCategoryName}}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="discount" style="color:whitesmoke">
                                                        <strong>Item Price</strong>
                                                    </label>
                                                    <input formControlName="itemPrice" type="text" class="form-control"
                                                        placeholder="Enter Item Price"
                                                        [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls?.itemPrice.errors }"
                                                        value="{{editProduct.itemPrice}}" />
                                                    <div *ngIf="submitted &amp;&amp; registerForm.controls?.itemPrice.errors"
                                                        class="text-danger">
                                                        <div *ngIf="registerForm.controls?.itemPrice.errors.required">
                                                            Item price is required</div>
                                                        <div *ngIf="registerForm.controls?.itemPrice.errors.pattern">
                                                            Item
                                                            price should be in correct format</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="discount" style="color:whitesmoke">
                                                        <strong>Item Image</strong>
                                                    </label>
                                                    <input type="file" formControlName="restaurantImage"
                                                        class="form-control-file" accept="image/*"
                                                        (change)="onFileSelected($event)" />
                                                    <div *ngIf="submitted">
                                                    </div>
                                                </div>


                                                <div style="align-items:center">
                                                    <button type="submit"
                                                        class="btn btn-primary form-control mt-3">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- Start banner bottom -->
        <!-- End banner bottom -->
    </div>

    <!--================ End Home Banner Area =================-->
    <!--================ Start Footer Area =================-->
    <footer class="footer-area overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Top Products</h6>
                        <div class="row">
                            <div class="col">
                                <ul class="list">
                                    <li>
                                        <a href="#">Managed Website</a>
                                    </li>
                                    <li>
                                        <a href="#">Manage Reputation</a>
                                    </li>
                                    <li>
                                        <a href="#">Power Tools</a>
                                    </li>
                                    <li>
                                        <a href="#">Marketing Service</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Quick Links</h6>
                        <div class="row">
                            <div class="col">
                                <ul class="list">
                                    <li>
                                        <a href="#">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="#">Brand Assets</a>
                                    </li>
                                    <li>
                                        <a href="#">Investor Relations</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms of Service</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Features</h6>
                        <div class="row">
                            <div class="col">
                                <ul class="list">
                                    <li>
                                        <a href="#">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="#">Brand Assets</a>
                                    </li>
                                    <li>
                                        <a href="#">Investor Relations</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms of Service</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Resources</h6>
                        <div class="row">
                            <div class="col">
                                <ul class="list">
                                    <li>
                                        <a href="#">Guides</a>
                                    </li>
                                    <li>
                                        <a href="#">Research</a>
                                    </li>
                                    <li>
                                        <a href="#">Experts</a>
                                    </li>
                                    <li>
                                        <a href="#">Agencies</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="form-inline">
                                <div class="d-flex flex-row">
                                    <input class="form-control" name="EMAIL" placeholder="Your email address"
                                        onfocus="this.placeholder = 'Your email address'"
                                        onblur="this.placeholder = 'Your email address'" required="" type="email">
                                    <button class="click-btn btn btn-default">
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <div>
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                            type="text">
                                    </div>
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom justify-content-between">
                <div class="col-lg-6">
                    <p class="footer-text m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-lg-2">
                    <div class="social-icons">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script>
        $(document).on("click", "portfolio-link", function () {
            var myBookId = $(this).data('id');
            $(".modal-body #itemPrice").val(myBookId);
            $('#portfolioModal1').modal('show');
        });
    </script>
    <!--================ Start Footer Area =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- <script src="../../../../assets/restaurant/js/jquery-3.2.1.min.js"></script>
    <script src="../../../../assets/restaurant/js/popper.js"></script>
    <script src="../../../../assets/restaurant/js/bootstrap.min.js"></script>
    <script src="../../../../assets/restaurant/js/stellar.js"></script>
    <script src="../../../../assets/restaurant/js/jquery.magnific-popup.min.js"></script>
    <script src="../../../../assets/restaurant/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="../../../../assets/restaurant/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="../../../../assets/restaurant/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../../../assets/restaurant/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="../../../../assets/restaurant/js/jquery.ajaxchimp.min.js"></script>
    <script src="../../../../assets/restaurant/js/mail-script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="../../../../assets/restaurant/js/gmaps.min.js"></script>
    <script src="../../../../assets/restaurant/js/theme.js"></script> -->
</body>

</html>