<body>
    <div class="px-4 px-lg-0">
        <div class="container text-white py-5 text-center">
            <h1 class="display-4">Your Cart</h1>
            <p class="lead mb-0">One last step & the food is yours!!!</p>
        </div>
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-3 text-uppercase">Product</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Price</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Quantity</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Remove</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of cartDetails">
                                        <th scope="row" class="border-0">
                                            <div class="p-2">
                                                <h4>
                                                    <strong>{{item.ProductName}}</strong>
                                                </h4>
                                            </div>
                                        </th>
                                        <td class="border-0 align-middle">
                                            <strong>{{item.Price}}</strong>
                                        </td>
                                        <td class="border-0 align-middle">
                                            <strong>{{item.Quantity}}</strong>
                                        </td>
                                        <td class="border-0 align-middle">
                                            <button (click)="delete(item.ProductName)" class="text-dark">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    <form #addressForm=ngForm (ngSubmit)="AddAddress(addressForm.value)" style="display: flex;">
                        <div class="col-sm-6" style="display: inline-block;">
                            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Address to Deliver
                            </div>
                            <div class="p-4">
                                <p class="font-italic mb-4">Please do mention your address in the correct format!</p>
                                <!-- <input type="radio" name="Addess" (click)="NewAddress()" checked>New Address
                                <input type="radio" name="Addess" (click)="PastAddress()">Past Address -->
                                <div class="input-group mb-4 border rounded-pill p-2">
                                    <input type="text" placeholder="Address" aria-describedby="button-addon3" class="form-control border-0" name="StreetName"
                                        required value="{{address}}" disabled>
                                </div>
                                <!-- <div *ngIf="pastAddressValue" class="input-group mb-4 p-2">
                                    <label>
                                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                                            Past Address
                                        </div>
                                    </label>
                                    <select id="Address" name="StreetName" [(ngModel)]="Address" class="form-control">
                                        <option selected>Choose...</option>
                                        <option *ngFor="let item of pastAddressList" value="{{item.addressId}}">{{item.address}}</option>
                                    </select>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6" style="display: inline-block;">
                            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary
                            </div>
                            <div class="p-4">
                                <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                                <ul class="list-unstyled mb-4">
                                    <li class="d-flex justify-content-between py-3 border-bottom">
                                        <strong class="text-muted">Order Subtotal </strong>
                                        <strong>Rs. {{cartValue}}</strong>
                                    </li>
                                    <li class="d-flex justify-content-between py-3 border-bottom">
                                        <strong class="text-muted">Shipping and handling</strong>
                                        <strong>Rs. 10.00</strong>
                                    </li>
                                    <li class="d-flex justify-content-between py-3 border-bottom">
                                        <strong class="text-muted">Discount</strong>
                                        <strong style="color:green"><span>-Rs.</span> {{((discountValue)*cartValue)}}</strong>
                                    </li>
                                    <li class="d-flex justify-content-between py-3 border-bottom">
                                        <strong class="text-muted">Total</strong>
                                        <h5 class="font-weight-bold">Rs. {{cartValue+20-(discountValue*cartValue)}}</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <button type="submit" [disabled]="checkAddress()" (click)="AddAddress(addressForm.value)" class="btn btn-dark rounded-pill py-2 mr-auto ml-auto not-allowed">Proceed to payment</button>
                </div>
            </div>
        </div>
    </div>
</body>